body 
{
color:black;
background-color:white;
background-image:url(images/black-wood.png);
}

div#bloc_page
{	
	text-align: center;
	display: inline-block;
	position: absolute;
	left: 41%;
	top: 20%
	
}
div#bordure
{
	border-style: groove;
	border-width: 1px 1px 1px 1px;
	padding:20px;
	width:800px
	color:rgb(FF9933);
}

}
div#titreBandeau
{
	position: absolute;
	color: rgb(FF9933);
	left: 5px;
	top: 50px;
}

p
{
	
	left: 5px;
	top: 50px;
	color: white;
	font-weight: bold;
}
h1
{
	
	left: 5px;
	top: 50px;
	color: white;
	font-weight: bold;
}
div#bandeau {
	font-size: 50px;
	font-family: fantasy;
	color: black;
	text-align: center;
	left: -20px;
	width:1680px;
	height:60px;
	background-color:#FF9933;
	}
div#bloc_page1
{	
	text-align: center;
	display: inline-block;
	position: absolute;
	left: 25%;
	top: 20%
	
